<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- https://spring.io/projects/spring-framework -->
    <!-- https://docs.spring.io/spring-framework/docs/5.3.24/reference/html/core.html#beans-factory-metadata -->
    <!-- Vamos a crear el bean manualmente, indicando la clase y el nombre del bean-->
    <bean id="calculadora" class="es.david.Calculadora" scope="prototype"></bean>
    <!-- scope="prototype" decimos que cree siempre los objetos -->
    <!-- scope="singleton" por defecto es simgleton -->

    <bean id="gestorFacturas" class="es.david.GestorFacturas">
        <constructor-arg name="calculadora" ref="calculadora" /> <!-- para hacer referencia a otro bean `ref`  -->
        <constructor-arg name="nombre" value="Facturator 3000" />
    </bean>

</beans>
